@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --bar-main-icon-color: #111;
    --bar-second-icon-color: #444;

    --main-icon-color: #3F3F3F;
    --main-icon-gradient: #5C5C5C;
    --second-icon-color: #001;
    --second-icon-gradient: #004;    
    --corner-icon-color: #d3d3d3; 
    --corner-icon-gradient: #9f9f9f; 
    --text-main-icon-color: red;
    --text-second-icon-color: orange;
    }

:root {
    --neon-yellow: #ddcb00;
    --bg: #050801;
    --glow-orange: #dd8100;
  }

 
body{
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    position: fixed;
    width: 100vw;
}
.body--bg{
  width: 100%;
  height: 100%;
  background: rgb(0,0,0);
  background: -moz-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(2,51,92,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(2,51,92,1) 100%);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(2,51,92,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#02335c",GradientType=1);

}
.content{
    border: 1px solid;
    color: white;
    box-shadow: 0 0 0 1px inset #f7f7f760;

    width: 85%;
    height: calc(100% - 12vw);
    position: relative;
    margin: auto;
    top:5vw;
    background: rgb(0,22,41);
    background: -moz-linear-gradient(90deg, rgba(0,22,41,1) 0%, rgba(19,0,43,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0,22,41,1) 0%, rgba(19,0,43,1) 100%);
    background: linear-gradient(90deg, rgba(0,22,41,1) 0%, rgba(19,0,43,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#001629",endColorstr="#13002b",GradientType=1);
    border-image-source: url('./public/border.svg');
    border-image-slice: 49.7% 49.8%;
    border-image-width:  500 600;
    border-image-repeat: stretch;
    border-image-outset: 5.0vw;
    overflow: hidden;
    z-index: 1;
}
.cnbg{
    position: absolute;
    left: 0;
    right: 0;
    width: 86%;
    height: calc(100% - 12vw);
    z-index: 0;
    animation: bgcolor 20s linear infinite;
    transform: scaleX(0.998) scaleY(1.01);
}
    .header{
        box-shadow: #010101 0px 8px 25px 1px;
        width: 100%;
        position: relative;
        height: 40px;
        background: rgb(255,255,255);
        background: linear-gradient(90deg, rgba(255,255,255,0.3), rgba(255,255,255,0.1),rgba(255,255,255,0.3));
        border-bottom: 1px solid rgba(255,255,255,0.3) ;
        z-index: 25;
        display: flex;
        justify-content: center;
}
/*(38 / 61)*/
.section{
    display: flex;
    padding: 2%;
    width: 100%;
    height: calc(100% - 40px);
    align-items: center;
    justify-content: center;
}

.form {
  display: flex;
  flex: 38;
  flex-direction: row;
  justify-content: center;
}

.portrait{
    display: flex;
    text-align: center;
    justify-content: center;
    flex:38;
    font-size: min(3.5vw, 150px);
    font-weight: bold;
    height: 100%;
    
  }

  .portrait figure figcaption {
    margin-top: auto;}

.portrait figure img{
  max-height: 75%;
  height: auto;
  max-width: 100%;
  flex-shrink: 0;
  object-fit: contain;
  object-position: center;
  margin-bottom: auto; 

}
.portrait figure{
  display: flex;
  max-height: 100%;
  flex-direction: column;
  
}


.projects-container{
  width: 100%;
  height: 250%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  flex-wrap:wrap;
  justify-content: center;
  column-gap: 1em;

}
.card-container{
  width: 250px;
  min-width: 250px;
  height: 420px;
  background:
  linear-gradient(-45deg, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.15) );
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 40px;
  overflow: hidden;
  margin: 20px;
  padding: 10px;
}
.card{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius:30px;
  text-align: center;

}

.card img{
  width: 250px;
  height: 210px;
  object-fit:cover;
}

.card h1{
  margin: 10px 0;
}
.card p {
  overflow: hidden;
  text-overflow: ellipsis;
  height: auto;
  white-space: normal;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 4;
}



.second-column{
    display: flex;
    text-align:justify;
    align-self: center;
    justify-content: stretch;
    height: 100%;
    flex: 62;
}

.article{
    position: relative;
    display: flex;
    width: 100%;
    align-self: stretch;
    overflow: hidden;
    height: 100%;
    padding: 0;
    min-height: 10%;
    background-color: rgba(255,255,255, 0.07);
    border: rgba(255,255,255, 0.62) 3px solid;
    align-items: center;
}
.container-paragraph{
    flex: 1;
    color: #ffff9d;
    width: 100%;
    height: fit-content;
    max-height: 100%;
    padding: 2%;
    font-size: 20px;
    overflow-y: auto;
    text-align:justify;
}
.container-paragraph h1{
  font-size: 45px;
  font-weight: lighter;
  text-align: center;

}
.container-paragraph img{
  width: 100px;
}


.form-area{
  background-color: rgba(255,255,255, 0.07);
  padding: 20px;
  width: 100%;
  color: #fff;
  border: solid 1px white;
  border-radius: 4px;
  letter-spacing: 1px;
  margin: auto;
  margin:15px auto;
  resize: none;
  transition: all 0.5s;
}
.form-area:focus{
  border: solid 1px white;

  box-shadow: 0px 0px 10px 2px rgba(36,0,255,0.75);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(36,0,255,0.75);
  -moz-box-shadow: 0px 0px 10px 2px rgba(36,0,255,0.75);}

.form-horizontal {
  /*float: left;*/
  font-family: 'Lato';
  padding-right: 5%;
}


.form, label{
  font-size: 1.1em;
  display: block;
  text-align: center;
  margin: auto;
}

.contact-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
  align-items: space-between;
}

.list-item {
  line-height: 3;
  gap: 1%;
  width: 100%;
  color: #aaa;
  margin: auto;
  display: flex;
  justify-items: center;
  align-items: center;
}

.proob{
  display: flex;
  justify-content: center;
  flex: 1.3;

}

.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative; 
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 15px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27,27,27);
  cursor: pointer; 
  transition: all .2s ease-in-out;
}

.social-media-list li ion-icon{
  position: relative;
  top:6px;
  margin: auto;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff; 
}

.social-media-list li:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color: #000;
}



.list-item span{
  flex: 1;
  font: 300 18px;
  letter-spacing: 1.9px;
}


.icons{
  margin: auto  ;
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  align-items: center;
  justify-content: center;
}

.icons-container{
  width: 330px;
  height: 444px;
  border-radius: 0 0 165px 165px;
  overflow: hidden;
  transform: scale(0.4, 0.4);
  transform-style: preserve-3d;
  margin: -130px -90px;
}

.list-container{
  display: flex;
  width: 60%;
  height: 100%;
  list-style: none;
  flex-direction: column;
  justify-content: center;
  margin: auto 0px auto auto;
}

.project-button{
  background-color: rgba(255,255,255, 0.02);
  border: rgba(255,255,255, 0.62) 3px solid;
  border-right: 0px;
  border-bottom: 0px;
  padding-top: 5%;
  padding-bottom: 5% ;
}
.project-button:nth-last-child(1){
  border-bottom: rgba(255,255,255, 0.62) 3px solid;
}

.project-button h1{
  font-size: 40px;
  }
.project-button p{
  font-size: 20px;
  }
    
.circle{
  display: block;
  position: relative;
  width: 330px;
  top: 114px;
  height: 330px;
  background-color: #ff006a6f;
  border-radius: 50%;
  transition: 0.5s;

}

.circle:hover .document{
  top:-50px
}


.document {
  width: 15em;
  height: 20em;
  position: relative;
  cursor: pointer;
  top:50px;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  transition: 0.5s;

}
.document:hover{
  top:-100px
}
.document.loading .bottom .bar:nth-child(2)::before {
  -webkit-animation: loading 1s infinite;
          animation: loading 1s infinite;
}
.document.loading .bottom .bar:nth-child(3)::before {
  -webkit-animation: loading 1s 0.1s infinite;
          animation: loading 1s 0.1s infinite;
}
.document.loading .bottom .bar:nth-child(4)::before {
  -webkit-animation: loading 1s 0.2s infinite;
          animation: loading 1s 0.2s infinite;
}

.document:hover .bottom .icon.fa {
  color: #868686;
}
.document:hover .bottom .icon::before {
  opacity: 1;}
.document .name {
  background: -webkit-linear-gradient(90 deg,var(--text-main-icon-color, #eee), var(--text-second-icon-color,#333));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;  width: 100%;
  text-align: center;
  font-size: 2em;
  line-height: 2em;
}
.document .bottom {
  width: 15em;
  height: 15em;
  background: var(--main-icon-color, #DFDFDF);
  background-image: linear-gradient(90deg, var(--main-icon-color, #DFDFDF) 0%, var(--main-icon-gradient, #DFDFDF) 100%);
  padding-top: 5em;
  box-sizing: border-box;
}
.document .bottom .icon {
  position: absolute;
  width: fit-content;
  height: 5em;
  background: var(--bar-main-icon-color, #ccc);
  background-image: linear-gradient(to right, var(--bar-main-icon-color, #eee), var(--bar-second-icon-color,#333));
  margin: 0 auto;
  border-radius: 0.5em;
  top: 4em;
  left: 3em;
  padding: 0.5em;
  box-sizing: border-box;
  text-align: center;
}

.document .bottom .icon:before {
  position: absolute;
  width: auto;
  height: 5em;
  background: var(--bar-main-icon-color, #ccc);
  background-image: linear-gradient(to right, var(--second-icon-color, #868686) 0%, var(--second-icon-gradient, #868686) 100%);
  border-radius: 0.5em;
  padding: 0.5em;
  box-sizing: border-box;
  text-align: center;
  z-index: 0;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity 0.5s linear;
  opacity: 0;
}

.document .bottom .icon span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 3.5em;
  font-weight: bold;
  background: -webkit-linear-gradient(45deg, var(--text-main-icon-color, #eee), var(--text-second-icon-color,#333));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;  width: 100%;
  line-height: 1.25em;
}


.document .bottom .bar, .document .bottom .icon {
  transition: all 0.5s;
}
.document .bottom .fa.icon {
  background-color: transparent;
  background: -webkit-linear-gradient(45deg, var(--text-main-icon-color, #eee), var(--text-second-icon-color,#333));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;  width: 100%;
  font-size: 5em;
  top: 0.25em;
  left: 0em;
  text-align: left;
}
.document .bottom .bar {
  width: 10em;
  height: 1em;
  border-radius: 0.5em;
  background: var(--bar-main-icon-color, #ccc);
  background: linear-gradient(45deg, var(--bar-main-icon-color, #eee), var(--bar-second-icon-color,#333));
  
  margin: 1.25em auto;
  position: relative;
}
.document .bottom .bar::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10%;
  height: 80%;
  width: 40%;
  background-color: var(--second-icon-color, #868686);
  background: linear-gradient(90deg, var(--second-icon-color, #868686) 0%, var(--second-icon-gradient, #868686) 100%);

}
@-webkit-keyframes loading {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes loading {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.document .top {
  width: 10em;
  height: 5em;
  background: var(--main-icon-color, #DFDFDF);
  background: linear-gradient(90deg, var(--main-icon-color, #DFDFDF) 0%, var(--main-icon-gradient, #DFDFDF) 150%);
  border-radius: 1em 0 0 0;
}
.document .top::after {
  margin-top: 1px;
  -webkit-clip-path: polygon(-50% 0, 0 0, 100% 100%, 100% 150%, -50% 150%);
          clip-path: polygon(-50% 0, 0 0, 100% 100%, 100% 150%, -50% 150%);
  z-index: 0;
  content: "";
  position: absolute;
  width: 5em;
  height: 5em;
  background: var(--main-icon-color, #DFDFDF);
  background: linear-gradient(90deg, var(--main-icon-color, #DFDFDF) -150%, var(--main-icon-gradient, #DFDFDF) 100%);

  right: 0;
}
.document .top::before {
  -webkit-clip-path: polygon(-50% 0, 0 0, 100% 100%, 100% 150%, -50% 150%);
          clip-path: polygon(-50% 0, 0 0, 100% 100%, 100% 150%, -50% 150%);
  border-radius: 0 0 0 1em;
  z-index: 10;
  content: "";
  position: absolute;
  width: 5em;
  height: 5em;
  
  background: var(--corner-icon-color, #F7F7F6);
  background: linear-gradient(90deg, var(--corner-icon-color, #F7F7F6) 0%, var(--corner-icon-gradient, #F7F7F6) 100%);

  box-shadow: -2px 2px 8px #00000080;
  right: 0;
}
.resume{
  display: flex;

  margin: 50px;


}
.resume a{
  flex: 1;
  align-self: center;
  justify-self: center;
  text-decoration: none;
  display: block;
}
.gold-button {
  width: 100%;
  height: 100%;
  cursor: pointer;
  color: #000000;
  background: linear-gradient(180deg, #FCEE23 20%, #fda81f 50%, #b37615 100%);
  font-weight: bold;
  padding: 12px 20px;
  border-radius: 10px;
  border-width: 0;
  display: inline-flex;
  align-items: center;
  box-shadow: 0 4px 12px 0 #ffcd57;
  transition: all 0.5s ease;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  background-repeat: repeat-y;
  background-size: 100% 90px;

flex: 1;

/* box-shadow: 0px 0px 33px 6px rgba(0,0,0,0.75) inset;
-webkit-box-shadow: 0px 0px 33px 6px rgba(0,0,0,0.75) inset;
-moz-box-shadow: 0px 0px 33px 6px rgba(0,0,0,0.75) inset;
 */
}


.gold-button:hover{
  background-position:0px -40px;  
  box-shadow: 0 4px 12px 0 #b4913f;
  opacity: 1;
  
}

/* Shine */

.shine-button {
position: relative;
overflow: hidden;
}

.shine-button:after {
content:'';
top:0;
transform:translateX(100%);
width:100%;
height:220px;
position: absolute;
z-index:1;
animation: slide 5s infinite;


/* 
CSS Gradient - complete browser support from http://www.colorzilla.com/gradient-editor/ 
*/
background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 50%, rgba(128,186,232,0) 99%, rgba(125,185,232,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.8)), color-stop(99%,rgba(128,186,232,0)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* IE10+ */
background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */
}


/* shine animation */

@keyframes slide {
0% {transform:translateX(-100%);}
20%, 100% {transform:translateX(100%);}
}
/* .container-paragraph span{
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #70E500;
}
.container-paragraph span span{
  position: relative;
  display: block;
  left: 40px;
  top: 40px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #888;
  color: #001c7a;
  text-align: center;
  font-size: larger;
  font-weight: bolder;
  text-shadow: 0px 0px 9px #00000080;
}
 */

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: rgba(0,0,0, 0.14);
}

::-webkit-scrollbar
{
    position: relative;
    margin:10px;
    width: 10px;
	background-color: rgba(0,0,0, 0.14);
}

::-webkit-scrollbar-thumb
{
	background-color: rgba(255,255,255, 0.14);
}


.header ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    min-width: 70%;
    height: 100%;
}

.header li{
    text-decoration: none;
    list-style: none;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;

}

.header a {
    height: 38px;
    width: 100%;
    position: relative;
    display: inline-block;
    padding: 2px 15px;
    margin: 40px 0;
    color: var(--neon-yellow);
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;

  }

.header .active {
  background: var(--neon-yellow);
  color: var(--bg);
  box-shadow: 0 0 5px var(--glow-orange), 0 0 25px var(--glow-orange), 0 0 50px var(--glow-orange), 0 0 200px var(--glow-orange);

}


.header li:nth-child(2){
    min-width: 200px;

}
  .header a:hover {
    background: var(--neon-yellow);
    color: var(--bg);
    box-shadow: 0 0 5px var(--glow-orange), 0 0 25px var(--glow-orange), 0 0 50px var(--glow-orange), 0 0 200px var(--glow-orange);
    transition-delay: .4s;
  }
  

  
  .header a span {
    position: absolute;
    display: block;
  }
  
  .header a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, var(--neon-yellow));
  }
  
  .header a:hover span:nth-child(1) {
    left: 100%;
    transition: .5s;
  }
  
  
  .header a span:nth-child(2) {
    top: -100%;
    right: 0;
    height: 100%;
    width: 2px;
    background: linear-gradient(180deg, transparent, var(--neon-yellow));  
  }
  
  .header a:hover span:nth-child(2) {
    top: 100%;
    transition: .5s;
    transition-delay: .1s;
  }
  
  
  .header a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    height: 2px;
    width: 100%;
    background: linear-gradient(270deg, transparent, var(--neon-yellow));
  }
  
  .header a:hover span:nth-child(3) {
    right: 100%;
    transition: .5s;
    transition-delay: .2s;
  }
  
  .header a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    height: 100%;
    width: 2px;
    background: linear-gradient(360deg, transparent, var(--neon-yellow));
  }
  
  .header a:hover span:nth-child(4) {
    bottom: 100%;
    transition: .5s;
    transition-delay: .3s;
  }

@keyframes bgcolor {
    0%,100%   {filter: saturate(700%) hue-rotate(0deg) blur(4px) contrast(500%);}
    50% {filter: saturate(400%) hue-rotate(-320deg) blur(4px) contrast(100%);}
  }

/*   height: calc(100% - 12vw);
 */@media (min-aspect-ratio: 11/9){
    .content{
        border-image-outset: 6vh;
        top:7vh;
        height: 85%;

    }
  }

@media (min-width: 1250px) and (min-height: 1080px){
    .content{
        border-image-outset: 65px;
        top: 72px;
    }
}

/* @media (max-height: 500px){
.content{
    width: 85%;
    height: 425px;
    position: relative;
    margin: auto;
    top:36px;
    border-image-source: url('./assets/images/border.svg');
    border-image-slice: 49.7% 49.8%;
    border-image-width:  500 600;
    border-image-repeat: stretch;
    border-image-outset: 30px;
    z-index: 1;
}
.cnbg{
  position: absolute;
  width: 86%;
  height: 450px;
  z-index: 0;
  animation: bgcolor 10s linear infinite;
}
} */
@media (max-height: 500px) and (min-width: 1181px){
  body{
    height: 100%;

    overflow: scroll;
  }
  .content{
      width: 85%;
      height: 425px;
      position: relative;
      margin: auto;
      top:36px;
      border-image-source: url('./public/border.svg');
      border-image-slice: 49.7% 49.8%;
      border-image-width:  500 600;
      border-image-repeat: stretch;
      border-image-outset: 30px;
      z-index: 1;
  }
  .cnbg{
    position: absolute;
    width: 86%;
    height: 450px;
    z-index: 0;
    animation: bgcolor 10s linear infinite;
  }
  }
  

  @media (max-height: 500px)  and (max-width: 1180px){
    .content{
      width: 85%;
      height: 85%;
      position: relative;
      margin: auto;
      top:7%;
      border: 1px solid #00000000;
      border-image-source: url('./public/border.svg');
      border-image-slice: 49.7% 49.8%;
      border-image-width:  500 600;
      border-image-repeat: stretch;
      border-image-outset: 6vh;
      border-image-outset: 6svh;
      z-index: 1;
  }
  .cnbg{
    position: absolute;
    width: 86%;
    height: 86%;
    z-index: 0;
    animation: bgcolor 10s linear infinite;
  }
  }
  

@media (max-width: 1180px){
  .portrait{
    font-size: 6vw;
  }
  .section{
    position: relative;
    flex-direction:column;
    justify-items: flex-start;
    justify-content: flex-start;
    height: calc(100% -40px);
    overflow-y:scroll;
    overflow-x: hidden;
  }
  .second-column{
    width: 100%;
    padding: 20px;
    height: auto;
    order: -1;
    margin-right: 0 ;
    justify-content: center;
    align-self: flex-start;
  }
  .article{
    display: flex;
    width: 95%;
    justify-self: center;
    height: fit-content;
}
  .container-paragraph{
    width: 100%;
    height: fit-content;
    padding: 10px;

    overflow-y: hidden;
}
.form{
  flex: 100;
  min-width: 100%;
}
.form-horizontal{
  padding: 5%;
}
}

@media (max-width: 500px){

.list-item {
  text-align: left;
  font-size: 0.5em;
  }
  .container-paragraph h1{
    font-size: 25px;
    font-weight: lighter;
    text-align: center;
  
  }
  .article{
    width: 100%;
  }
  .proob{
    justify-content: flex-end;
  }
}

.barba-leave-active,
.barba-enter-active {
  transition: opacity 450ms ease;
}

.barba-leave,
.barba-enter-to {
  opacity: 1;
}

.barba-enter,
.barba-leave-to {
  opacity: 0;
}